Khaled's/
.idea/
IO_Manager/
LLM_Manager/
Network_Manager/
/Handler/Audio_Handler.py
/Handlers/GUI_Handler.py
/Handlers/LTD_Handler.py
#/Handlers/OCR_Handler.py
#/Handlers/Translation_Handler.py
#/Managers/LLM_Manager.py
#/utils/Services.py
/Managers/Network_Manager.py
/Handlers/Audio_Handler.py
/utils/WorkerThread.py
/utils/Kaldi_Recognizer.py
/LLM_Manager.py
/LLM_Manager_Temp.py
/temp.py


